<?xml version="1.0"?>
<launch>
  <node
	pkg="um7"
	type="um7_driver"
	name="um7_driver"
	output="screen">
  <param name="tf_ned_to_enu" value="true"/>
  <remap from="/imu/data" to="/imu/data_raw"/>
  <param name="/port" value="/dev/ttyUSB0" />
  <rosparam param="/soft_iron_bias">[0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01]</rosparam>
  <rosparam param="/mag_bias/x">25</rosparam>
  <rosparam param="/mag_bias/y">42</rosparam>
  <rosparam param="/mag_bias/z">89</rosparam>
  </node>

  <node
	pkg="imu_filter_madgwick"
	type="imu_filter_node"
	name="imu_um7_filter_node"
   output="screen">
    <param name="use_mag" value="true"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="publish_debug_topics" value="true"/>
    <param name="world_frame" value="enu"/>
    <param name="publish_tf" value="false"/>
    <param name="mag_declination" value="-9.5" />
  </node>
</launch>
